@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300;400&display=swap');

html , body{
    height:100%;
    width:100%;
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
}
.left img{
    width: 12%; 
    height:60%;
}
.container{
    padding: 0 5vw;
    margin: auto;
}
nav ul li{
    list-style:none;
    padding: 0 14px;
}
header{
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.font1{
    font-family: 'Poppins' , sans-serif;
}
.font2{
    font-family: 'Roboto' , sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}
.searchbar{
    width: 24vw;
    padding: 8px 17px;
    border: 0.2px solid #7a5959a9;
    border-radius: 1px;
}
nav{
    height: 80px;
}
.himg{
    margin:31px -9px;  
}
.himg2{
    margin: -31px -65px;
}
.himg3{
    margin-top: 33px;
}
.left{
    width: 40%;
}
.right{
    justify-content: end;
    width: 40%;
}
.caro-items{
    border: solid 1px white;
}

.imi{
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.iii{
    display: flex;
    overflow: hidden;
}
.bag{
    margin: 0 9px;
}
.profile{
    margin: 0 20px;
}
.wishlist{
    margin: 0 25px;
}
.fx-1{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 11px 0;
    font-family: 'Poppins' , sans-serif;
    font-size: 12px;
}

@media (max-width:1200px) {
    header{
        height:170px;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: centre;
    }
    .right{
        display: flex;
        flex-direction: column;
        
    }
}